.link-facebook {
    width: 25px;
    height: 25px;
    background-image: url("../images/Facebook.png");
    background-size: 13px;
    background-position: center;
    background-repeat: no-repeat;
}