.main-title {
  color: $white;
  font-size: 60px;
  font-weight: 700;
line-height: 90px;
  text-align: center;
  text-transform: uppercase;
}

.main-title-tagline {
  display: block;
  font-size: 38px;
line-height: 57px;
}