@font-face {
  font-weight: 700;
  font-family: "Roboto";
  font-style: normal;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-weight: 500;
  font-family: "Roboto";
  font-style: normal;
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-weight: 400;
  font-family: "Roboto";
  font-style: normal;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-display: swap;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
//  color: var(--dark);
  font-family: "Roboto";
  background-color: $black;
  overflow-x: hidden;
}

.wrapper {
  position: relative;
  z-index: 1;

  max-width: 1110px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
}

ul li {
  list-style-type: none;
}

h1,
.h1 {
  color: $black;
  font-size: 60px;
  line-height: 90px;
}

h2,
.h2 {
  font-size: 38px;
  line-height: 57px;
}

h3,
.h3 {
  font-size: 24px;
  line-height: 45px;
}

h4,
.h4 {
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
}

p {
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 150%;
}


a {
  color: $light-grey;
  font-size: 16px;
  line-height: 150%;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

