// font-size Desktop

$h1: 60px;
$h2: 38px;
$h3: 24px;


// font-size Mobile

$h1: 30px;
$h2: 18px;
$h3: 16px;
$h4: 18px;

// colors

$white: #ffffff;
$black: #08020D;
$light-grey: #E0E0E0;
$dark-grey: #CACACA;
$light-black: #3C3B3D;
$green: #34C176;
$orange: #F89202;
$violet: #5328A1;
$red: #95390C;