@font-face {
  font-weight: 700;
  font-family: "Roboto";
  font-style: normal;
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-display: swap; }
@font-face {
  font-weight: 500;
  font-family: "Roboto";
  font-style: normal;
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
  font-display: swap; }
@font-face {
  font-weight: 400;
  font-family: "Roboto";
  font-style: normal;
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-display: swap; }
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: "Roboto";
  background-color: #08020D;
  overflow-x: hidden; }

.wrapper {
  position: relative;
  z-index: 1;
  max-width: 1110px;
  margin: 0 auto; }

img {
  max-width: 100%;
  height: auto; }

ul li {
  list-style-type: none; }

h1,
.h1 {
  color: #08020D;
  font-size: 60px;
  line-height: 90px; }

h2,
.h2 {
  font-size: 38px;
  line-height: 57px; }

h3,
.h3 {
  font-size: 24px;
  line-height: 45px; }

h4,
.h4 {
  font-weight: bold;
  font-size: 18px;
  line-height: 27px; }

p {
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 150%; }

a {
  color: #E0E0E0;
  font-size: 16px;
  line-height: 150%;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.p-relative {
  position: relative; }

.p-absolute-center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto; }

.p-fixed {
  position: fixed; }

.d-block {
  display: block; }

.d-inline-block {
  display: inline-block; }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.d-flex-nowrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.d-flex-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.block-33 {
  width: 31%; }

.w-100 {
  width: 100%; }

.w-50 {
  width: 48%; }

.h-100 {
  height: 100%; }

.h-550 {
  height: 550px; }

.m-bottom-20 {
  margin-bottom: 20px; }

.m-left-15 {
  margin-left: 15px; }

.b-radius-16 {
  border-radius: 16px; }

.transition {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease; }

.btn {
  display: inline-block;
  padding: 20px 30px;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer; }

.btn-green {
  color: #ffffff;
  background-color: #34C176; }

.btn-green:hover {
  background-color: #3C3B3D; }

.btn-red {
  color: #ffffff;
  background-color: #95390C; }

.btn-orange:hover {
  background-color: #3C3B3D; }

.btn-transparent {
  color: #ffffff;
  background-color: transparent;
  border-color: #ffffff; }

.btn-transparent:hover {
  color: #08020D;
  border-color: transparent;
  background-color: #ffffff; }

.btn-round {
  border-radius: 32px; }

.input {
  width: 100%;
  padding: 16px 22px;
  background-color: transparent;
  border: 1px solid #ffffff; }

.input::-webkit-input-placeholder {
  color: #ffffff;
  font-size: 14px;
  line-height: 16px; }

.input::-moz-placeholder {
  color: #ffffff;
  font-size: 14px;
  line-height: 16px; }

.input:-moz-placeholder {
  color: #ffffff;
  font-size: 14px;
  line-height: 16px; }

.input:-ms-input-placeholder {
  color: #ffffff;
  font-size: 14px;
  line-height: 16px; }

.c-white {
  color: #ffffff; }

.c-orange {
  color: #F89202; }

.c-dark-grey {
  color: #CACACA; }

.font-bold {
  font-weight: bold; }

.t-small-bold {
  font-weight: bold;
  font-size: 12.8px;
  line-height: 150%; }

.t-small {
  font-size: 12.8px;
  line-height: 150%; }

.t-size-1 {
  font-size: 16px;
  line-height: 150%; }

.t-size-2 {
  font-size: 24px;
  line-height: 150%; }

.t-size-3 {
  font-size: 32px;
  line-height: 150%; }

.t-size-4 {
  font-size: 40px;
  line-height: 150%; }

.t-size-5 {
  font-size: 48px;
  line-height: 150%; }

.t-size-6 {
  font-size: 56px;
  line-height: 150%; }

.t-size-7 {
  font-size: 64px;
  line-height: 150%; }

.t-center {
  text-align: center; }

.t-uppercase {
  text-transform: uppercase; }

.back-center {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.b-bottom-grey {
  border-bottom: 1px solid #E0E0E0; }

.page-header {
  position: relative;
  height: 100vh;
  padding-top: 25px; }

.header-item {
  width: 50%; }

.top-banner {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/banner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.top-banner-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%; }

.menu-list a {
  padding: 5px 15px;
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase; }

.search-block {
  text-align: right; }

.search-input {
  display: inline-block;
  padding: 5px 15px;
  background-color: #3C3B3D;
  border-radius: 50px;
  border: none; }

.search-input::-webkit-input-placeholder {
  color: #757575;
  font-size: 13.3px;
  line-height: 15px;
  text-transform: uppercase; }

.search-input::-moz-placeholder {
  color: #757575;
  font-size: 13.3px;
  line-height: 15px;
  text-transform: uppercase; }

.search-input:-moz-placeholder {
  color: #757575;
  font-size: 13.3px;
  line-height: 15px;
  text-transform: uppercase; }

.search-input:-ms-input-placeholder {
  color: #757575;
  font-size: 13.3px;
  line-height: 15px;
  text-transform: uppercase; }

.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%; }

.block-item {
  width: 48%; }

.main-form {
  width: 100%;
  max-width: 570px;
  margin: 0 auto; }

.card-free {
  padding: 20px;
  padding-bottom: 60px;
  background-image: url("../images/subscribe_1.png"); }

.card-standart {
  padding: 20px;
  padding-bottom: 60px;
  background-image: url("../images/subscribe_2.png"); }

.card-premium {
  padding: 20px;
  padding-bottom: 60px;
  background-image: url("../images/subscribe_3.png"); }

.page-footer {
  background: linear-gradient(265.08deg, #95390C 14.9%, #5328A1 68.95%); }

/*# sourceMappingURL=style.css.map */